$tabBackground: #f8fafc;

.p-tabmenu {
	.p-tabmenu-nav {
		background: $tabBackground;
		.p-tabmenuitem {
			.p-menuitem-link {
				background: $tabBackground;
			}
			.p-highlight {
				.p-menuitem-link {
					background: $tabBackground;
				}
			}
		}
	}
}

.header-container {
	@apply flex w-full border-b bg-slate-50;
}

.p-slidemenu {
	@apply flex md:hidden w-full h-80 z-10 top-12;
}

.p-slidemenu-wrapper {
	width: 100%;
}
.p-slidemenu-content {
	@apply w-10/12 container mx-auto;
}

.p-slidemenu {
	.p-slidemenu-rootlist {
		width: 100%;
		li:last-child {
			display: flex;
			background-color: lightblue;
			border-radius: 0.5rem;
			justify-content: center;
		}
	}
}

.p-menuitem:last-child > a.p-menuitem-link {
	@apply w-full justify-center;
}
